
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>We created a database that contains information on the CMIP5 data available on raijin. We then created a python module <strong>ARCCSSive</strong> to help users accessing and interrogating the database. You might have used already one of our custom scripts that allows you to search for the files location directly from the command line, like <em>search_replica</em> .
Let's have a look now on how to search the database interactively so you can perform a search and work with the results directly from your python script.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>First of all we need to load the conda/analysis27 environment, available both on raijin and the VDI, so we can use ARCCSSive.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;module use /g/data/hh5/public/modules</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;module load conda/analysis27</p>
<p>The current version of ARCCSSive only works with python2, we are working on a new version in preparation for CMIP6, ARCCSSive2 will be available in conda/analysis3 .</p>
<p>We will also import numpy to do some simple calculation and netCDF4 function MFDataset( ) to open multiple netcdf files at once.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[1]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython2"><pre><span></span><span class="kn">from</span> <span class="nn">ARCCSSive</span> <span class="kn">import</span> <span class="n">CMIP5</span>
<span class="kn">import</span> <span class="nn">numpy</span> <span class="kn">as</span> <span class="nn">np</span>
<span class="kn">from</span> <span class="nn">netCDF4</span> <span class="kn">import</span> <span class="n">MFDataset</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>After having imported the module <strong>CMIP5</strong> from ARCCSSive, we create a connection to the database.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[2]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython2"><pre><span></span><span class="c1"># step1: connect to the database</span>
<span class="n">db</span><span class="o">=</span><span class="n">CMIP5</span><span class="o">.</span><span class="n">connect</span><span class="p">()</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Then we use the <strong>outputs( )</strong> function to search the database. outputs( ) gets the <em>experiment, model, mip, ensemble</em> and <em>variable</em> as arguments. Any of these can be left out, so if we want to find all the models that have a r1i1p1 ensemble of historical monthly data for surface temperature, we pass all the corresponding arguments except <em>model</em>.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[4]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython2"><pre><span></span><span class="c1"># step2: search database without specifying the model</span>
<span class="n">outs</span><span class="o">=</span><span class="n">db</span><span class="o">.</span><span class="n">outputs</span><span class="p">(</span><span class="n">experiment</span><span class="o">=</span><span class="s1">&#39;historical&#39;</span><span class="p">,</span><span class="n">mip</span><span class="o">=</span><span class="s1">&#39;Amon&#39;</span><span class="p">,</span><span class="n">ensemble</span><span class="o">=</span><span class="s1">&#39;r1i1p1&#39;</span><span class="p">,</span> <span class="n">variable</span><span class="o">=</span><span class="s1">&#39;tasmax&#39;</span><span class="p">)</span>
<span class="c1"># we can see how many results were returned by the search</span>
<span class="k">print</span><span class="p">(</span><span class="s2">&quot;Search found </span><span class="si">%s</span><span class="s2"> results&quot;</span> <span class="o">%</span> <span class="n">outs</span><span class="o">.</span><span class="n">count</span><span class="p">())</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>Search found 45 results
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Let's have a look at one of the results</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[5]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython2"><pre><span></span><span class="n">outs</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt output_prompt">Out[5]:</div>




<div class="output_text output_subarea output_execute_result">
<pre>&lt;ARCCSSive.CMIP5.Model.Instance at 0x7f4040b48fd0&gt;</pre>
</div>

</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>It is a special object called <strong>Instance</strong> which represent a row from the database Instance table.
Each instance is defined by the arguments we listed above and can have one or more versions.
It is the <strong>Version</strong> table that contains the directory path the we need to access the files.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[12]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython2"><pre><span></span><span class="k">print</span><span class="p">(</span><span class="n">outs</span><span class="p">[</span><span class="mi">5</span><span class="p">]</span><span class="o">.</span><span class="n">versions</span><span class="p">)</span>
<span class="k">print</span><span class="p">(</span><span class="n">outs</span><span class="p">[</span><span class="mi">5</span><span class="p">]</span><span class="o">.</span><span class="n">versions</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span><span class="o">.</span><span class="n">path</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>[&lt;ARCCSSive.CMIP5.Model.Version object at 0x7f4040c25ed0&gt;, &lt;ARCCSSive.CMIP5.Model.Version object at 0x7f4040c25f90&gt;]
/g/data/rr3/publications/CMIP5/output1/CSIRO-BOM/ACCESS1-3/historical/mon/atmos/Amon/r1i1p1/v20120413/tasmax
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Most of the time we are interested only in the latest available version, we can use the <em>latest( )</em> function to do so.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[14]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython2"><pre><span></span><span class="k">print</span><span class="p">(</span><span class="n">outs</span><span class="p">[</span><span class="mi">5</span><span class="p">]</span><span class="o">.</span><span class="n">latest</span><span class="p">())</span>
<span class="k">print</span><span class="p">(</span><span class="n">outs</span><span class="p">[</span><span class="mi">5</span><span class="p">]</span><span class="o">.</span><span class="n">latest</span><span class="p">()[</span><span class="mi">0</span><span class="p">]</span><span class="o">.</span><span class="n">path</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>[&lt;ARCCSSive.CMIP5.Model.Version object at 0x7f4040b7e8d0&gt;]
/g/data/rr3/publications/CMIP5/output1/CSIRO-BOM/ACCESS1-3/historical/mon/atmos/Amon/r1i1p1/v20130325/tasmax
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Unfortunately the CMIP5 replica directory often contains one or more copies of the same version. This is why <em>latest( )</em> always return a list and not only one version. So we need to use the "0" index to select one version.
NB. NCI is in the process of creating a new cleaner copy of CMIP5 which will eventually solve all these issues.</p>
<p>Let's now define a simple function which will get tasmax as input an return a mean value:</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[18]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython2"><pre><span></span><span class="kn">from</span> <span class="nn">glob</span> <span class="kn">import</span> <span class="n">glob</span>
<span class="k">def</span> <span class="nf">var_mean</span><span class="p">(</span><span class="n">var</span><span class="p">,</span><span class="n">path</span><span class="p">):</span>
    <span class="sd">&#39;&#39;&#39; calculate max value for variable &#39;&#39;&#39;</span>
    <span class="c1"># open ensemble files as one aggregated file using MFDataset</span>
    <span class="c1"># Glob is required here in order to expand the path if using python 2, for python 3 is not needed</span>
    <span class="c1">#</span>
    <span class="c1"># using path+&quot;/*.nc&quot; should be sufficient, unfortunately GISS models break conventions and they put all variables in one directory</span>
    <span class="c1">#  so I&#39;m using &quot;/&quot;+var+&quot;_*.nc&quot; just in case</span>
    <span class="c1">#</span>
    <span class="n">expanded_path</span> <span class="o">=</span> <span class="n">glob</span><span class="p">(</span><span class="n">path</span><span class="o">+</span><span class="s2">&quot;/&quot;</span> <span class="o">+</span> <span class="n">var</span> <span class="o">+</span> <span class="s2">&quot;_*.nc&quot;</span><span class="p">)</span>
    <span class="n">nc</span><span class="o">=</span><span class="n">MFDataset</span><span class="p">(</span><span class="n">expanded_path</span><span class="p">,</span><span class="s1">&#39;r&#39;</span><span class="p">)</span>
    <span class="n">data</span> <span class="o">=</span> <span class="n">nc</span><span class="o">.</span><span class="n">variables</span><span class="p">[</span><span class="n">var</span><span class="p">][:]</span>
    <span class="k">return</span> <span class="n">np</span><span class="o">.</span><span class="n">mean</span><span class="p">(</span><span class="n">data</span><span class="p">)</span>
</pre></div>

</div>
</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Now that we have defined a function let's pass the search results path to it, in this way we can calculate the mean on all the tasmax ensembles we found.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>Let's now run the function for the results returned by the search, we used only the first 6 instances in this example. We simply have to pass the <em>path</em> attribute to the function. Rememebr path is defined in the Version table, along with the <em>version</em> label, while the <em>model</em> name is a  field on the Instance table.</p>

</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[19]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython2"><pre><span></span><span class="c1"># step3: retrieve path for each version returned by search and pass it to function.</span>
<span class="c1"># I&#39;m limiting this to the first 6 results</span>

<span class="k">for</span> <span class="n">o</span> <span class="ow">in</span> <span class="n">outs</span><span class="p">[:</span><span class="mi">5</span><span class="p">]:</span>
    <span class="n">var</span> <span class="o">=</span> <span class="n">o</span><span class="o">.</span><span class="n">variable</span>
    <span class="n">model</span> <span class="o">=</span> <span class="n">o</span><span class="o">.</span><span class="n">model</span>
    <span class="k">for</span> <span class="n">v</span> <span class="ow">in</span> <span class="n">o</span><span class="o">.</span><span class="n">versions</span><span class="p">:</span>
        <span class="n">varmean</span><span class="o">=</span><span class="n">var_mean</span><span class="p">(</span><span class="n">var</span><span class="p">,</span><span class="n">v</span><span class="o">.</span><span class="n">path</span><span class="p">)</span>
        <span class="k">print</span><span class="p">(</span><span class="s1">&#39;Mean value for variable </span><span class="si">%s</span><span class="s1">, model </span><span class="si">%s</span><span class="s1"> , version </span><span class="si">%s</span><span class="s1"> is </span><span class="si">%s</span><span class="s1">&#39;</span> <span class="o">%</span><span class="p">(</span><span class="n">var</span><span class="p">,</span> <span class="n">model</span><span class="p">,</span> <span class="n">v</span><span class="o">.</span><span class="n">version</span><span class="p">,</span> <span class="n">varmean</span><span class="p">))</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>Mean value for variable tasmax, model HadCM3 , version v20110823 is 278.319
Mean value for variable tasmax, model MIROC4h , version v20110729 is 280.866
Mean value for variable tasmax, model MIROC4h , version v20120628 is 280.866
Mean value for variable tasmax, model CNRM-CM5-2 , version v20130401 is 279.091
Mean value for variable tasmax, model CMCC-CM , version v20121008 is 279.159
Mean value for variable tasmax, model MPI-ESM-MR , version v20120503 is 279.87
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<p>There are ways to execute more complex searches and/or filtering of the results returned by the <em>outputs( )</em> function. 
If you think this could be useful for you a more detailed explanations and examples of filters is 
available in the <a href="https://training.nci.org.au/mod/lesson/view.php?id=372"><strong>ARCCSSive training</strong></a> .</p>
<p>As for other NCI online trainings you need to use your NCI account to login. The ARCCSSive training is part of a CMIP5 induction. If you are new to CMIP5 then it is a good idea to check the entire training.</p>

</div>
</div>
</div>
 

